# üïµÔ∏è‚Äç‚ôÄÔ∏è An√°lisis Exploratorio Preliminar (EDA): Clientes

## üìã Descripci√≥n
Primer contacto con el archivo de datos demogr√°ficos (`customer-details.xlsx`). Usamos herramientas de exploraci√≥n autom√°tica para entender la estructura y la suciedad de los datos antes de procesarlos.

## üìÇ Datos
* **Fuente:** `../data/customer-details.xlsx` (Datos Crudos / Raw).
* **Herramienta:** Librer√≠a personalizada `src.sp_eda`.

## ‚öôÔ∏è Pasos del An√°lisis
1.  **Carga de Datos:** Lectura del archivo Excel original.
2.  **Auditor√≠a Autom√°tica (`se.eda_preliminar`):**
    * Revisi√≥n de dimensiones (filas/columnas).
    * Identificaci√≥n de columnas clave (como el ID).
    * Detecci√≥n de valores nulos o inconsistentes en variables como 'Income' o fechas.
    * An√°lisis r√°pido de frecuencias en variables categ√≥ricas.

In [1]:
# -------------------------------------------------------------------------
# CARGA DEL ARCHIVO CUSTOMERS-DETAILS.XLSX
# -------------------------------------------------------------------------
# tratamiento de dados
import pandas as pd
pd.set_option('display.max_columns', None)
#-------------------------------

# exploracion de archivos
import sys
sys.path.append('../')
#-------------------------------

#funciones personalizadas
from src import sp_eda as se
#-------------------------------

In [2]:
# carga de datos
df_clientes = pd.read_excel("../data/customer-details.xlsx")

In [3]:
# exploracion preliminar
se.eda_preliminar(df_clientes)

--- 1. MUESTRA ALEATORIA ---

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
15574,15574,87083,0,0,2012-04-21,27,87b09df7-924c-4c15-a2ef-3974cc8e4dec
14156,14156,58989,1,2,2012-09-14,6,3a6bdb79-53e7-4389-b754-68f8bb5764cc
1696,1696,130249,1,2,2012-01-01,5,c9f749c6-3437-4b20-a91b-999ca982e87f
10222,10222,157379,0,1,2012-01-03,5,ba2a99fb-df52-4f9a-a783-67c80290643b
5912,5912,63107,1,2,2012-10-13,23,c6c2b06f-ad97-4c57-a803-78c56f44d4f3

--- 2. DIMENSIONES ---
Filas: 20115 | Columnas: 7

--- 3. INFO GENERAL ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20115 entries, 0 to 20114
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20115 non-null  int64
 1   Income             20115 non-null  int64
 2   Kidhome            20115 non-null  int64
 3   Teenhome           20115 non-null  int64
 4   Dt_Customer        20115 non-null  datetime64[ns]
 5   NumWebVisitsMonth  20115 non-null  int64
 6   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB

--- 4. NULOS ---
‚úÖ ¬°Perfecto! No hay valores nulos.

--- 5. DUPLICADOS ---
‚úÖ No hay filas duplicadas.

--- 6. ESTAD√çSTICAS NUM√âRICAS ---

,count,mean,min,25%,50%,75%,max,std
Unnamed: 0,20115.0,10057.0,0.0,5028.5,10057.0,15085.5,20114.0,5806.844668
Income,20115.0,93087.213224,5852.0,49110.0,92962.0,136705.0,180791.0,50614.798255
Kidhome,20115.0,1.004176,0.0,0.0,1.0,2.0,2.0,0.816811
Teenhome,20115.0,0.999503,0.0,0.0,1.0,2.0,2.0,0.815298
Dt_Customer,20115,2012-07-01 17:15:14.362416128,2012-01-01 00:00:00,2012-04-01 00:00:00,2012-07-02 00:00:00,2012-09-30 00:00:00,2012-12-31 00:00:00,NaN
NumWebVisitsMonth,20115.0,16.54079,1.0,9.0,16.0,25.0,32.0,9.235324

--- 7. COLUMNAS DE TEXTO (Top 10 valores) ---

-> Columna: ID (Total √∫nicos: 20115)

                                  Valor  Frecuencia
0  8299f0a6-e4c0-49fc-87ab-81308b70f80f           1
1  089b39d8-e4d0-461b-87d4-814d71e0e079           1
2  e9d37224-cb6f-4942-98d7-46672963d097           1
3  71100141-53d0-4913-9750-f730875080c7           1
4  afd96190-4abd-404c-87a6-74cc40caebec           1
5  1f04ebce-3ae8-4e7f-8306-30742a537173           1
6  094b2662-7c1f-47e6-86c8-ec406f5373fc           1
7  942c997e-9f20-41ff-98b4-d2ad4b728610           1
8  812d6c96-fef7-4c94-84b7-69d3cfd1eb4e           1
9  7ca2bbf3-e280-4493-a010-6a51de92bf9d           1

   (Se muestran solo los 10 primeros de 20115)