# üî¢ An√°lisis Descriptivo de los Datos

## üéØ Objetivo
Realizar una **radiograf√≠a estad√≠stica** completa de la Tabla Maestra unificada. En esta fase no buscamos patrones visuales, sino entender la **naturaleza num√©rica** de nuestros clientes: promedios, dispersi√≥n de datos y frecuencias.

## üìÇ Fuente de Datos
* **Archivo:** `../data/procesados/datos_finales_analisis.csv`
* **Contenido:** ~20.000 registros consolidados (Banco + Clientes).

## üîé M√©tricas a Analizar
1.  **Tendencia Central:** ¬øCu√°l es el perfil "promedio" del cliente? (Media y Mediana de edad, ingresos, etc.).
2.  **Dispersi√≥n:** ¬øLos datos son homog√©neos o hay mucha desigualdad? (Desviaci√≥n est√°ndar).
3.  **Frecuencias (Moda):**
    * **Target (`y`):** Tasa base de √©xito de la campa√±a (S√≠ vs. No).
    * **Perfil:** Trabajo, estado civil y educaci√≥n m√°s comunes.

## üõ†Ô∏è Herramientas
* **Pandas:** Para el c√°lculo de estad√≠sticos (`describe`, `mode`, `value_counts`).

In [2]:
# -------------------------------------------------------------------------
# C√ìDIGO: AN√ÅLISIS DESCRIPTIVO
# -------------------------------------------------------------------------
import pandas as pd

# 1. CARGA DE DATOS (Correcci√≥n del error)
# Cargamos el archivo aqu√≠ mismo para asegurar que 'df' existe
df = pd.read_csv('../data/procesados/datos_finales_analisis.csv')

# 2. Resumen Num√©rico (Media, M√≠n, M√°x, Desviaci√≥n)
print("--- üìä ESTAD√çSTICAS VARIABLES NUM√âRICAS ---")
display(df.describe().T)

# 3. An√°lisis de la Variable Objetivo (N√∫meros exactos)
print("\n--- üéØ BALANCE DE LA CAMPA√ëA (Target) ---")
conteo = df['y'].value_counts()
porcentaje = df['y'].value_counts(normalize=True) * 100

# Creamos un peque√±o dataframe para mostrarlo bonito
df_target = pd.DataFrame({'Total': conteo, 'Porcentaje (%)': porcentaje})
display(df_target)

# 4. An√°lisis de Variables Categ√≥ricas (Top valores)
print("\n--- üìã PERFIL T√çPICO (Moda) ---")
cols_cat = df.select_dtypes(include='object').columns

for col in cols_cat:
    # Solo calculamos la moda si la columna existe
    if col in df.columns:
        moda = df[col].mode()[0]
        print(f"-> {col.upper()}: Lo m√°s com√∫n es '{moda}'")

--- üìä ESTAD√çSTICAS VARIABLES NUM√âRICAS ---

,count,mean,std,min,25%,50%,75%,max
age,17764.0,39.873846,9.301781,19.000,32.00000,39.0000,47.00000,61.000
default,14158.0,0.000000,0.000000,0.000,0.00000,0.0000,0.00000,0.000
housing,19497.0,0.492281,0.499953,0.000,0.00000,0.0000,1.00000,1.000
loan,19497.0,0.154331,0.361275,0.000,0.00000,0.0000,0.00000,1.000
duration,20018.0,260.713208,262.288476,0.000,103.00000,180.0000,320.00000,3643.000
campaign,20018.0,2.905385,3.390629,1.000,1.00000,2.0000,3.00000,56.000
pdays,20018.0,999.000000,0.000000,999.000,999.00000,999.0000,999.00000,999.000
previous,20018.0,0.000000,0.000000,0.000,0.00000,0.0000,0.00000,0.000
emp_var_rate,20018.0,1.285113,0.145836,1.100,1.10000,1.4000,1.40000,1.400
cons_price_idx,19824.0,94.035977,0.261120,93.444,93.91800,93.9940,93.99400,94.465
cons_conf_idx,20018.0,-39.664422,2.995968,-42.700,-42.70000,-41.8000,-36.40000,-36.100
euribor3m,15891.0,4.915780,0.051421,4.855,4.85800,4.9580,4.96200,4.970
nr_employed,20018.0,5213.892357,18.035040,5191.000,5191.00000,5228.1000,5228.10000,5228.100
latitude,20018.0,36.799130,7.205053,24.397,30.60600,36.6755,43.04675,49.384
longitude,20018.0,-95.920143,16.677597,-124.997,-110.31875,-96.0270,-81.49500,-66.938
income,20018.0,93071.656809,50615.701160,5852.000,49089.25000,92973.5000,136659.75000,180791.000
kidhome,20018.0,1.004646,0.816677,0.000,0.00000,1.0000,2.00000,2.000
teenhome,20018.0,0.999550,0.815405,0.000,0.00000,1.0000,2.00000,2.000
numwebvisitsmonth,20018.0,16.537616,9.231910,1.000,9.00000,16.0000,25.00000,32.000

--- üéØ BALANCE DE LA CAMPA√ëA (Target) ---

     Total  Porcentaje (%)
y
no   19100       95.414127
yes    918        4.585873

--- üìã PERFIL T√çPICO (Moda) ---
-> JOB: Lo m√°s com√∫n es 'blue-collar'
-> MARITAL: Lo m√°s com√∫n es 'married'
-> EDUCATION: Lo m√°s com√∫n es 'high_school'
-> CONTACT: Lo m√°s com√∫n es 'telephone'
-> POUTCOME: Lo m√°s com√∫n es 'nonexistent'
-> Y: Lo m√°s com√∫n es 'no'
-> DATE: Lo m√°s com√∫n es '2015-02-28'
-> ID: Lo m√°s com√∫n es '00024507-c59b-4eee-86d5-cc341b96eb6d'
-> DT_CUSTOMER: Lo m√°s com√∫n es '2012-01-11'